body{
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    align-content: center;

}
.nome1{
    
    height: 600px;
    width: 800px;
    background-color: aquamarine;   
    justify-content: center;
    align-items: center;
    display: flex;
    flex-direction: column;

    
}

.nome2{
    display: flex;
    height: 180px;
    width: 700px;
    background-color: burlywood;
    border: 2px solid black;
    justify-content: space-evenly;
    align-items: center;
    
}
.nome3{
    display: flex;
    height: 180px;
    width: 700px;
    background-color: chartreuse;
    border: 2px solid black;
    justify-content: space-evenly;
    align-items: center;
}
.nome4{
    display: flex;
    height: 180px;
    width: 700px;
    background-color: cadetblue;
    border: 2px solid black;
    justify-content: space-evenly;
    align-items: center;
}
.nome5{
    height: 80px;
    width: 90px;
    background-color: coral;
    border: 2px solid black;
  justify-content: center;
    align-items: center;
    display: flex;
}